



	



	
#banner


{  
	background-color:#98B2FF;
	background-image:url('FotoFlexer_Photo.jpg');
	background-repeat: no-repeat;
	background-position: right; 
	padding:10px;border-width:5px;
	border-style: solid;
	border-color:#33A1DE;
 	border-radius:15px;
	font:small-caps 40px/40px "Times New Roman",serif;
	color:#00009C;
	text-align:center}
	
	
#banner 
img{float:left;
	width: 5.0em;
	height: 1.3em
}

	

	


#notice
{color:#000 !important;
	border:2px #009900;
	padding:1em;
	margin-bottom:2em;
	background-color:#0080FF;
	font:bold smaller sans-serif}
	
	
#columns
{background:#9FB1FE;
		border-radius:15px
	}

#columns #main

{ 
 	margin-left:17em;
	border-radius:15px;
	padding:1em;
	background-image:url('paw_print.gif');
	background-repeat:repeat;
	}
	
	
#columns #side 
{float:left;
    
	padding:1em 2em;
	width:13em;
	border-radius:15px;
	border-color:#33A1DE;
	background:#3D5FF5
	
	}
	

	
#columns #side form,#columns #side div
{display:inline}


#columns #side
 input{font-size:small}


#columns #side #cart
{font-size:smaller;color:white}

#columns #side #cart 
table{border-top:1px dotted #595;border-bottom:1px dotted #595;border-radius:15px;margin-bottom:10px}



#columns #side 
ul{padding:0}
#columns #side
 ul li{list-style:none}
#columns #side 
ul li a{color:#81F7F3;font-size:large;text-shadow: 0.1em 0.1em 0.2em black}.carts .cart_title,
#side #cart .cart_title{font:120% bold}.carts .item_price,.carts .total_line,
#side #cart .item_price,
#side #cart .total_line{text-align:right}.carts .total_line .total_cell,
#side #cart .total_line .total_cell{font-weight:bold;border-top:1px solid #595}
.ui-timepicker-div .ui-widget-header{margin-bottom:8px}
.ui-timepicker-div dl{text-align:left}
.ui-timepicker-div dl dt{height:25px;margin-bottom:-25px}
.ui-timepicker-div dl dd{margin:0 10px 10px 65px}
.ui-timepicker-div td{font-size:90%}
.ui-tpicker-grid-label{background:none;border:none;margin:0;padding:0}
.products table{border-collapse:collapse}
.products table tr td{padding:5px;vertical-align:top}
.products .list_image{width:60px;height:70px}
.products .list_description{width:60%}
.products .list_description dl{margin:0}
.products .list_description dt{color:#244;font-weight:bold;font-size:larger}
.products .list_description dd{margin:0}
.products .list_actions{font-size:x-small;text-align:right;padding-left:1em}
.products .list_line_even{background:#e0f8f8}
.products .list_line_odd{background:#6D9BF1}


#store 
#notice
{color:#000;
	border:2px green;
	padding:1em;
	margin-bottom:2em;
	background-color:#f0f0f0;
	font:bold smaller sans-serif}
	
	
#store 


h1{font:150% sans-serif;
	color:#228;
	border-bottom:3px dotted #77d;
	border-radius:15px;
	}
	
	
	
#product_list 
table{border-collapse:collapse}

#product_list 
table tr td{padding:5px;vertical-align:top}

#product_list
 .list_image{width:60px;height:70px}
#product_list
 .list_description{width:60%}
#product_list 
.list_description dl{margin:0}
#product_list 
.list_description dt{color:#244;font-weight:bold;font-size:larger}
#product_list 
.list_description dd{margin:0}
}
#product_list 
.list_actions{font-size:x-small;text-align:right;padding-left:1em}
#product_list 
.list_line_even{background:#e0f8f8}
#product_list 
.list_line_odd{background:#6D9BF1}
#store 
.entry{overflow:auto;margin-top:1em;border-bottom:1px dotted #77d}
#store .title{font-size:120%;font-family:sans-serif}
#store .entry img{width:80px;margin-right:5px;margin-bottom:5px;float:left}
#store .entry h3{margin-top:0;margin-bottom:2px;color:#227}
#store .entry p{margin-top:0.5em;margin-bottom:0.8em}
#store .entry .price_line{clear:both;margin-bottom:0.5em}
#store .entry .add_to_cart{position:relative}
#store .entry .price{color:#44a;font-weight:bold;margin-right:2em}



body{
	
	
	
	background-image:url('doggie-background.png');
	background-repeat:repeat;
	background-color:#3366FF;
	border-radius:15px;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:13px;line-height:18px
	}
p,ol,ul,td{font-family:verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px}
pre{background-color:#eee;padding:10px;font-size:11px}
a{color:#000}
a:visited{color:#666}
a:hover{color:#fff;background-color:#000}
div.field,div.actions{margin-bottom:10px}

#notice{color:green}
.field_with_errors{padding:2px;background-color:green;display:table}

#error_explanation{width:450px;border:2px solid green;padding:7px;padding-bottom:0;margin-bottom:20px;background-color:#f0f0f0}
#error_explanation
 h2{text-align:left;
	text-shadow:5px 5px 5px #226;
	font-weight:bold;
	padding:5px 5px 5px 15px;
	font-size:12px;
	margin:-7px;
	margin-bottom:0px;
	background-color:#c00;
	color:#fff}
	
#error_explanation
ul li{font-size:12px;list-style:square}
body{background-color:#fff;color:#333;font-family:verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px}
p,ol,ul,td{font-family:verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px}
pre{background-color:#eee;padding:10px;font-size:11px}
a{color:#000}
a:visited{color:#666}
a:hover{color:#fff;background-color:#000}
div.field,div.actions{margin-bottom:10px}


#notice{color:green}
.field_with_errors{padding:2px;background-color:green;display:table}


#error_explanation{width:450px;border:2px solid green;padding:7px;padding-bottom:0;margin-bottom:20px;background-color:#f0f0f0}
#error_explanation 
h2{text-align:left;
	font-weight:bold;
	padding:5px 5px 5px 15px;
	font-size:12px;
	margin:-7px;
	margin-bottom:0px;
	background-color:#c00;color:#fff}
	
	
	
#error_explanation ul li{font-size:12px;list-style:square}
p,div.price_line{margin-left:100px;margin-top:0.5em;margin-bottom:0.8em}
p form,p div,div.price_line form,div.price_line div{display:inline}
.store h1{margin:0;padding-bottom:0.5em;font:150% sans-serif;text-shadow:5px 5px 5px #226;color:#226;border-bottom:3px dotted #77d}
.store .entry{overflow:auto;margin-top:1em;border-bottom:1px dotted #77d;min-height:100px}
.store .entry img{width:80px;margin-right:5px;margin-bottom:5px;position:absolute}
.store .entry h3{font-size:120%;font-family:sans-serif;margin-left:100px;margin-top:0;margin-bottom:2px;color:#227}
.store .entry p,.store .entry div.price_line{margin-left:100px;margin-top:0.5em;margin-bottom:0.8em}
.store .entry .price{color:#44a;font-weight:bold;margin-right:3e}


	