<h3>Dog Grooming Service Order Paid</h3>
<p>
This is just to let you know that we've received payment for your recent order:
</p>
<table>
<tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items %>
</table>
