<b>
<p>
  <%=title @page.name %>
</p>
</b>



</p>
  <%= sanitize(RedCloth.new(@page.content, [:filter_html, :filter_styles]).to_html) %>
</p>

<% if can? :edit, @page %>
<%= link_to 'Edit', edit_page_path(@page) %> |
<% end %>
<%= link_to 'Back', pages_path %>
